@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  font-size: 16px;
  background-color: #009688;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

.custom_box {
  max-width: 700px;
  background-color: #ffffff;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
}

.custom_box::before,
.custom_box::after {
  content: "";
  clear: both;
  display: table;
}

.custom_box.hide {
  display: none;
}

.home_box h3 {
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 25px;
}

.home_box p {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 22px;
  color: #000000;
  font-weight: 400;
}

.home_box p span {
  font-weight: 500;
}

.home_box .btn {
}

.btn {
  padding: 15px 45px;
  background-color: #009688;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.custom_box .quiz_box .question_number,
.quiz_box .question_text,
.quiz_box .option_container,
.quiz_box .next_question_btn,
.quiz_box .answers_indicator {
  width: 100%;
  flex: left;
}
.quiz_box .question_number {
  font-size: 18px;
  color: #009688;
  font-weight: 600;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  line-height: 25px;
}

.quiz_box .question_text {
  font-size: 22px;
  color: #000000;
  line-height: 28px;
  font-weight: 400;
  padding: 20px 0;
  margin: 0;
}

.quiz_box .option_container .option {
  background-color: #cccccc;
  padding: 13px 15px;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  text-transform: capitalize;
}

.quiz_box .btn {
  margin: 15px 0;
}

.quiz_box .answers_indicator {
  border-top: 1px solid #cccccc;
}

.quiz_box .answers_indicator div {
  height: 40px;
  width: 40px;
  display: inline-block;
  background-color: #cccccc;
  border-radius: 50%;
  margin-right: 3px;
  margin-top: 13px;
}

.result_box {
  text-align: center;
}

.result_box.hide {
  display: none;
}

.result_box h1 {
  font-size: 36px;
  line-height: 42px;
  color: #009688;
}

.result_box table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
}

.result_box table td {
  border: 1px solid #cccccc;
  padding: 8px 15px;
  font-weight: 500;
  color: #000000;
  width: 50%;
  text-align: left;
  font-size: 18px;
}

.result_box .btn {
  margin: 0 10px;
}
